.App {
  padding-left: 16px;
  padding-right: 16px;
}

.App-intro {
  font-size: large;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    /*border-radius: 5px;*/
    /*background-color: #f2f2f2;*/
    /*padding: 20px;*/
}
.inner {
  overflow: hidden;
  width: 2000px;
}

.child {
  float: left;
}

.close {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.add-post a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/plus-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.btn-vote-up {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border-color: #91DC5A;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background: none;
  background-image: url('./icons/heart-plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  float: left;
}

.btn-vote-down {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border-color: #91DC5A;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background: none;
  background-image: url('./icons/heart-minus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  float: left;
}

.btn-delete {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border-color: #91DC5A;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background: none;
  background-image: url('./icons/rubbish-bin.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  float: left;
}

.btn-edit {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 8px;
  display: block;
  border-color: #91DC5A;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background: none;
  background-image: url('./icons/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}
